<%= form_for(@failure) do |f| %>
 <% if @failure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@failure.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @failure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :Exception_Message %>:<br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>